BD_Grupo3_VS/BD_Grupo3_VS/AccesoBaseDatos.cs
BD_Grupo3_VS/.vs/BD_Grupo3_VS/v15/.suo
BD_Grupo3_VS/BD_Grupo3_VS/obj/Debug/CoreCompileInputs.cache
BD_Grupo3_VS/BD_Grupo3_VS/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
