BD_Grupo3_VS/BD_Grupo3_VS/AccesoBaseDatos.cs
BD_Grupo3_VS/.vs/BD_Grupo3_VS/v15/.suo
BD_Grupo3_VS/BD_Grupo3_VS/obj/Debug/CoreCompileInputs.cache
BD_Grupo3_VS/BD_Grupo3_VS/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BD_Grupo3_VS/.vs/BD_Grupo3_VS/v15/.suo
BD_Grupo3_VS/BD_Grupo3_VS/obj/Debug/BD_Grupo3_VS.csproj.FileListAbsolute.txt
BD_Grupo3_VS/BD_Grupo3_VS/obj/Debug/BD_Grupo3_VS.csproj.GenerateResource.Cache
BD_Grupo3_VS/BD_Grupo3_VS/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
BD_Grupo3_VS/BD_Grupo3_VS/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BD_Grupo3_VS/BD_Grupo3_VS/obj/Debug/BD_Grupo3_VS.csproj.FileListAbsolute.txt
*.Cache
BD_Grupo3_VS/BD_Grupo3_VS/obj/Debug/BD_Grupo3_VS.exe
BD_Grupo3_VS/BD_Grupo3_VS/obj/Debug/BD_Grupo3_VS.pdb
BD_Grupo3_VS/BD_Grupo3_VS/obj/Debug/CoreCompileInputs.cache
BD_Grupo3_VS/BD_Grupo3_VS/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BD_Grupo3_VS/BD_Grupo3_VS/bin/Debug/BD_Grupo3_VS.pdb
BD_Grupo3_VS/BD_Grupo3_VS/bin/Debug/BD_Grupo3_VS.exe
BD_Grupo3_VS/.vs/BD_Grupo3_VS/v15/.suo
BD_Grupo3_VS/.vs/BD_Grupo3_VS/v15/.suo
BD_Grupo3_VS/BD_Grupo3_VS/obj/Debug/CoreCompileInputs.cache
BD_Grupo3_VS/.vs/BD_Grupo3_VS/v15/.suo
BD_Grupo3_VS/.vs/BD_Grupo3_VS/v15/.suo
BD_Grupo3_VS/BD_Grupo3_VS/bin/Debug/BD_Grupo3_VS.exe
BD_Grupo3_VS/BD_Grupo3_VS/bin/Debug/BD_Grupo3_VS.pdb
BD_Grupo3_VS/BD_Grupo3_VS/obj/Debug/BD_Grupo3_VS.csproj.FileListAbsolute.txt
BD_Grupo3_VS/BD_Grupo3_VS/obj/Debug/BD_Grupo3_VS.csproj.GenerateResource.Cache
BD_Grupo3_VS/BD_Grupo3_VS/obj/Debug/BD_Grupo3_VS.exe
BD_Grupo3_VS/BD_Grupo3_VS/obj/Debug/BD_Grupo3_VS.pdb
BD_Grupo3_VS/BD_Grupo3_VS/obj/Debug/BD_Grupo3_VS.csproj.FileListAbsolute.txt
